{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions"]
        }
      }
    ]
  ],
  "plugins": [
    "transform-runtime",
    "dynamic-import-webpack",
    "transform-object-rest-spread"
  ]
}
